<div id="index">
<% unless @questions.nil? %>
  <% @questions.each do |question| %>
    
    <h2><%= question.user.name %> asks, <a><%= link_to question.title, question_path(question) %></a> <% if question.answers.any? %>[<%= question.answers.count %> Answers]<% else %>| Be the first to answer!<% end %></h2>

  <% end %>
<% end %>
</div>