<h5><%= comment.content %></h5>
<h6>posted by <%= comment.user.name %></h6>
<% if comment.user == current_user %>
  <%= link_to "Delete", [commentable, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to "Edit", [:edit, commentable, comment] %>
<% end %>
<br />