<div class="new-comment-form">
  <%= form_for [commentable, @comment], remote: true do |f| %>
    <%= f.label :content %>&nbsp;<%= f.text_field :content, placeholder: "Your Comment" %>&nbsp;<%= f.submit 'Submit Comment' %>
  <% end %>
</div>