<div id="new-comment-form">
  <h4>Post a Comment</h4>
  <%= form_for question_comments_path(commentable), remote: true do |f| %>
    <%= f.label :content %>
    <br />
    <%= f.text_field :content, placeholder: "Your Comment" %>
    <br /><br />
    <%= f.submit 'Submit Comment' %>
  <% end %>
</div>