/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {font-family:sans-serif; margin:0; padding:0;}
a {color:#00F; text-decoration:none; font-weight:bold;}
#navigation {display:inline-block; width:98%; background-color:#eee; box-shadow: 0px 5px 5px #888; color:#261a0d; padding:1%;}
#home-button {float:left;}
#user-links {float:right;}
#index, .edit-form {margin-left:2%; display:inline-block;}
.question-container {padding:1%; display:flex;}
.answer-container {margin-left:4%; padding:1%; display:flex;}
.question-votes-area, .answer-votes-area {padding:1%; text-align:center; display:inline-block; border-width:0 1px 0 0; border-style:solid;}
.question-votes, .answer-votes {font-weight:bold; line-height:32px; background-color:#000; color:#fff; border-radius:32px; width:32px; height:32px;}
.question, .answer {display:inline-block; padding:1%; width:50%;}
#question-comment-box {margin:0 2%; border-width:1px 0 0 0; border-style:dotted;}
#answer-comment-box {margin:0 6%; border-width:1px 0 0 0; border-style:dotted;}
.comment {font-size:small;}
.question-title {font-weight:bold;}
.author-action {font-weight:normal;}
.first-heading {margin-top:0;}
.error {color:red; font-weight:bold;}